body {
    font-family: "poppins", sans-serif;
    margin: 0px;
    padding: 0%;
}
header {
    margin: 0%;
    display: flex;
    flex-direction: column;
    background-color: rgb(125, 125, 5);
}
.logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #641d1d;
}

.img-container img {
    margin: 0;
    padding: 0;
    width: 180px;
    filter: brightness(0) invert(1); /* aquí está la magia */
    transition: transform 0.5s ease;
}

.img-container:hover {
    transform: scale(1.2);
}


.img-container:hover {
    transform: scale(1.2);
}

nav {
    padding: 20px 0;
    margin: 0;
    text-align:center;
    background-color: rgb(212, 201, 169);
    position: sticky; /*Mantiene fija la barra de navegación*/
    top: 0; /*Cuando el borde superior esté a 0 píxeles de distancia 
  del borde superior de la ventana de visualización se comporta como fixed*/
    z-index: 1000; /* 👈 esta línea evita que quede tapado */

}

nav a {
    color: rgb(125, 125, 5);
    padding: 20px 30px;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
}

nav a:hover {
    background-color: #631515;
    transition: all 0.7s ease;
}

main {
    padding: 50px;
    background-image: url(../imagenes/plazadearmas.jpg);
    background-repeat: no-repeat;
    background-size: cover; /* mantiene el tamaño real */
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.form-reserva {
    max-width: 600px;
    

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    
    gap: 20px; /*Espacio entre los elementos del formulario*/

    background: rgba(255, 255, 255, 0.5); /*capa translúcida */
    backdrop-filter: blur(100px);          /*aplica el difuminado */

    padding: 2rem 3rem;
    border-radius: 20px;

    text-align: center;
    box-shadow: 1px 7px 30px rgba(0,0,0,0.9); /*Sombreado de form*/
}

.form-grupo {
    display: flex;
    flex-direction: column;
    justify-content: left;
    text-align: left;

    width: 500px; /*Ancho del form*/
    
}

.form-grupo label, h2 {
    color: #690505;
    font-weight: bold;
}

input, textarea, select {
    border: black solid 0px ;
    border-radius: 10px;

    padding: 10px;
}

.btn-reservar {
    padding: 10px 20px;

    border: solid 0px;
    border-radius: 10px;

    transition: 0.3s;
}

textarea {
    resize: none;
}

.btn-reservar:hover {
    background-color: #888484;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around ;
    align-items: center;



    color: aliceblue;

    background-color: #641d1d;

}

#contacto {
    color: white;
}





