/* Fondo con imagen */
#nosotros-hero {
  background-image: url('../imagenes/plazadearmas.jpg'); /* Establece la imagen de fondo de la sección */
  background-size: cover; /* Hace que la imagen cubra todo el área sin distorsionarse */
  background-position: center; /* Centra la imagen en el contenedor */
  height: 100vh; /* La sección ocupa toda la altura visible de la ventana */
  color: #fff; /* El texto dentro de la sección será blanco */
  display: flex; /* Usa flexbox para alinear el contenido interno */
  align-items: center; /* Centra el contenido verticalmente */
  justify-content: center; /* Centra el contenido horizontalmente */
}

/* Capa semitransparente encima del fondo */
.nosotros-overlay {
  background: rgba(0, 0, 0, 0.55);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Contenido */
.Contenido {
  max-width: 800px;
  padding: 40px;
  text-align: center;
}
.Contenido h2 {
    font-size: 50px;
    color: white;
}

.Contenido p {
    font-size: 20px;
    line-height: 1.7;
}

nav {
    position: sticky;          /* se “pega” al llegar arriba */
    top: 0;                    /* punto donde se pega */
    z-index: 1000;             /* para que quede sobre el contenido */
    background-color: #641d1d; /* mantiene el color */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3); /* sombra cuando se queda fijo */
}
nav ul{
    padding: 0%;
    margin: 0%;
    display: flex;
    justify-content: center;
    align-content: center;
    list-style-type: none;
    gap: 50px;
}

nav a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    
}

nav li {
    font-size: 20px;
    padding: 20px 30px;
    transition: all 0.7s ease;
}

nav li:hover {
    background-color: rgb(212, 201, 169);
}

nav li:hover a {
    color: rgb(0, 0, 0);
}

header {
  display: flex;
  justify-content: center;
  align-content: center;
  background-color: #641d1d;
}

header img {
  width: 200px;
}

.logo-container  {
  transition: transform 0.5s ease;
}

.logo-container:hover {
  transform: scale(1.2);
}

html, body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}