body {
  font-family: "poppins", sans-serif;
  margin: 0px;
  padding: 0%;
}

header {
  display: flex;
  justify-content: center;
  align-content: center;
  background-color: #690505;
}

header img {
  width: 180px;
  margin: 0%;
  padding: 0%;
}

.logo-container  { 
  transition: transform 0.5s ease; /* La propiedad transform será animada*/
}

.logo-container:hover { /* Al pasar el puntero, la imagen se agranda */
  transform: scale(1.2); 
}

nav {
  padding: 20px 0;
  margin: 0;
  text-align:center;
  background-color: rgb(212, 201, 169);
  position: sticky; /*Mantiene fija la barra de navegación*/
  top: 0; /*Cuando el borde superior esté a 0 píxeles de distancia 
  del borde superior de la ventana de visualización se comporta como fixed*/
}

nav a {
  color: rgb(125, 125, 5);
  padding: 20px 30px;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
}

nav a:hover {
  background-color: #631515;
  transition: all 0.7s ease;
}

#hero {
  height: 100vh; /* Ocupa toda la altura visible de la ventana */
  background-image: url("../imagenes/portada.jpg"); 
  background-size: cover; /* La imagen cubre todo el área sin distorsionarse */
  background-position: center; /* Centra la imagen en el contenedor */
  display: flex; /* Usa flexbox para alinear el contenido interno */
  align-items: center; /* Centra el contenido verticalmente */
  justify-content: center; /* Centra el contenido horizontalmente */
  text-align: center; /* Centra el texto de los elementos hijos */
  color: white; 
}

.btn {
  background-color: #631515; /* Fondo rojo oscuro del botón */
  color: white; /* Texto blanco */
  padding: 12px 24px; /* Espaciado interno para agrandar el botón */
  border-radius: 6px; /* Bordes redondeados */
  text-decoration: none; /* Sin subrayado en el texto */
  font-weight: bold; /* Texto en negrita */
  transition: 0.3s; /* Animación suave al cambiar el fondo/color */
}

.btn:hover {
    background-color: #ffffff;
    color: black;
}

body {
  background: url(/imagenes/bg.jpeg);
  background-size: cover;
  background-repeat:no-repeat;
  
}

h1 {
  font-weight: bold;
  font-size: 70px; 
  color: rgb(224, 235, 245);
  margin: 0;
  padding: 15px 0;
}

#presentacion {
  margin: 0;
  padding: 3% 65% 3% 0;
  font-size: 40px;
  color: whitesmoke;
  letter-spacing: 0.5px;
  background-color: #631515;
}

#bienvenida {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  margin: 80px 0 30px 0;
}

#bienvenida p { 
  color: rgba(50, 70, 87, 0.635);
  font-size: 18px;
  font-weight: bold;
}

h2 {
  font-size: 35px;
  letter-spacing: 0.5px; 
  font-family: 'Roboto', sans-serif;
  color: rgb(85, 99, 7);
  text-align: center;
  margin: 3% 0 3% 0;
}

p {
  font-size: 18px;
  letter-spacing: 0.3px;
  font-family: 'Roboto', sans-serif;
  color: rgba(31, 43, 54, 0.635);
}

.tip p {
  font-weight: normal; 
}

#presentacionDestinos {
  text-align: center;
  margin: 7% 0 10px 0;
}

.galeria {
  display: flex; 
  flex-wrap: wrap; /* Permite que bajen si no caben */
  justify-content: center; /* Centra horizontalmente */
  gap: 25px; /* Espacio entre cuadros */
  padding: 4% 0;
  background: whitesmoke;
  border-radius: 15px;
  margin: 50px; 
}

.targeta {
  background: white;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
  text-align: center;
  transition: transform 0.3s ease; /* La propiedad transform será animada*/
  width: 250px; /* Tamaño fijo (ajustable) */
}

.targeta:hover {
  transform: scale(1.05); /* Efecto al pasar el mouse */
}

.targeta img {
  width: 100%;
  height: 180px;
  object-fit: cover; /* Evita deformaciones */
}

.targeta p {
  padding: 10px;
  color: #333;
}

.recomendaciones {
  text-align: center;
}
#consejo {
  text-align: center;
}

#consejo p {
  margin: 0 0 2% 5%;
  font-weight: bold;

}

.tip {
  text-align: center;
  padding: 6px 8px;
  max-width: 700px; /* No crece más allá de 700px en pantallas grandes */
  border-radius: 15px;
  margin: 1% auto;
  transition: transform 0.8s ease; /* La propiedad transform será animada*/

}

.tip h3 {
  color: #333;
}

.tips-container {
  background-color: whitesmoke;
}

.tip:nth-child(odd) { /*impares*/
  background: whitesmoke; 
} 

.tip:nth-child(even) { /*pares*/
  background: #ccc; 
}

.tip:hover { 
  cursor: pointer;
  background-color: #bd2626;
  transform: scale(1.1); /* Al pasar el puntero, la imagen se agranda */
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around ;
    align-items: center;
    color: rgb(255, 255, 255);
    background-color: #641d1d;
}

footer p{
  color: white;
}

#contacto {
    color: white;
}