body {
  font-family: "poppins", sans-serif;
  margin: 0px;
  padding: 0%;
}

header {
  display: flex;
  justify-content: center;
  align-content: center;

  background-color: #690505;
}

header img {
  width: 180px;
  margin: 0%;
  padding: 0%;
}

.logo-container  {
  transition: transform 0.5s ease;
}

.logo-container:hover {
  transform: scale(1.2);
}

nav {
  display: flex;
  justify-content: center;
  align-content: center;

  background-color: rgb(212, 201, 169);
  
  position: sticky; /*Mantiene fija la barra de navegación*/
  top: 0; /*Cuando el borde superior esté a 0 píxeles de distancia 
  del borde superior de la ventana de visualización se comporta como fixed*/
}

nav a {
  color: rgb(125, 125, 5);
  background-color: rgb(212, 201, 169);
  padding: 20px 30px;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
}

nav a:hover {
  background-color: #631515;
  transition: all 0.7s ease;
}



#hero {
  height: 100vh;
  background-image: url("../imagenes/portada.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
}

.btn {
  background-color: #631515;
  color: white;
  padding: 12px 24px;
  border-radius: 6px;
  text-decoration: none;
  font-weight: bold;
  transition: 0.3s;
}

.btn:hover {
    background-color: #ffffff;
    color: black;
}

body {
  background-color: rgb(212, 201, 169);
}




h1 {
  font-weight: bold;
  font-size: 70px; 
  color: rgb(224, 235, 245);
  margin: 0;
  padding: 15px 0;
}





.logo {
  margin: 0 0 0 20px;
}

#presentacion {
  padding: 30px 0 30px 40px;
  font-size: 24px;
  color: whitesmoke;
  letter-spacing: 0.5px;
  background-color: #631515;
}

#bienvenida {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  margin: 80px 0 10px 0;
}

h2 {
  font-size: 35px;
  letter-spacing: 0.5px; 
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

p {
  font-size: 16px;
  letter-spacing: 0.3px;
  font-family: 'Roboto', sans-serif;
}


