body {
  font-family: "poppins", sans-serif;
  margin: 0px;
  padding: 0%;
}

header {
  display: flex;
  justify-content: center;
  align-content: center;
  background-color: #690505;
}

header img {
  width: 180px;
  margin: 0%;
  padding: 0%;
}

.logo-container  {
  transition: transform 0.5s ease;
}

.logo-container:hover {
  transform: scale(1.2);
}

nav {
  display: flex;
  justify-content: center;
  align-content: center;

  background-color: rgb(212, 201, 169);
  
  position: sticky; /*Mantiene fija la barra de navegación*/
  top: 0; /*Cuando el borde superior esté a 0 píxeles de distancia 
  del borde superior de la ventana de visualización se comporta como fixed*/
}

nav a {
  color: rgb(125, 125, 5);
  background-color: rgb(212, 201, 169);
  padding: 20px 30px;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
}

nav a:hover {
  background-color: #631515;
  transition: all 0.7s ease;
}

#hero {
  height: 100vh;
  background-image: url("../imagenes/portada.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
}

.btn {
  background-color: #631515;
  color: white;
  padding: 12px 24px;
  border-radius: 6px;
  text-decoration: none;
  font-weight: bold;
  transition: 0.3s;
}

.btn:hover {
    background-color: #ffffff;
    color: black;
}

body {
  background-color: rgb(212, 201, 169);
}

h1 {
  font-weight: bold;
  font-size: 70px; 
  color: rgb(224, 235, 245);
  margin: 0;
  padding: 15px 0;
}

#presentacion {
  padding: 1.5% 0 1.5% 40px;
  font-size: 24px;
  color: whitesmoke;
  letter-spacing: 0.5px;
  background-color: #631515;
}

#bienvenida {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  margin: 80px 0 30px 0;
}

h2 {
  font-size: 35px;
  letter-spacing: 0.5px; 
  font-family: 'Roboto', sans-serif;
  color: rgb(85, 99, 7);
  text-align: center;
  margin: 3% 0 3% 0;
}

p {
  font-size: 16px;
  letter-spacing: 0.3px;
  font-family: 'Roboto', sans-serif;
}

.tip p {
  font-weight: normal; 
}

#destinosMasVisitados {
  text-align: center;
  margin: 7% 0 10px 0;
}

.galeria {
  display: flex; 
  flex-wrap: wrap; /* Permite que bajen si no caben */
  justify-content: center; /* Centra horizontalmente */
  gap: 20px; /* Espacio entre cuadros */
  padding: 4% 0;
  background: whitesmoke;
}

.targeta {
  background: white;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
  text-align: center;
  transition: transform 0.3s ease; 
  width: 250px; /* Tamaño fijo (ajustable) */
}

.targeta:hover {
  transform: scale(1.05); /* Efecto al pasar el mouse */
}

.targeta img {
  width: 100%;
  height: 180px;
  object-fit: cover; /* Evita deformaciones */
}

.targeta p {
  padding: 10px;
  font-weight: 500;
  color: #333;
}

.recomendaciones {
  text-align: center;
}

.tip {
  text-align: center;
  padding: 6px 8px;
  width: 80%; /* Ocupará el 95% del ancho del navegador */
  max-width: 1000px; /* No crece más allá de 1200px en pantallas grandes */
  border-radius: 15px;
  margin: 0.5% auto;
}

.tips-container {
  background-color: whitesmoke;
}

.tip:nth-child(odd) { /*impares*/
  background: whitesmoke; 
} 

.tip:nth-child(even) { /*pares*/
  background: #ccc; 
}

.tip:hover {
  cursor: pointer;
  background-color: #df7f7f;
}
